@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    /*background-color: whitesmoke;*/
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 20px;
}
.sec1{
    width: 65%;
}
.sec2{
    width: 35%;
}
.sec11{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /*justify-content: center;*/
}
.col-2 {
    width: 33.33%;
}
.label {
    font-size: 16px;
    color: #555;
    text-transform: capitalize;
    display: block;
    color: #666;
}
.input{
    width: 85%;
    padding:5px 10px;
    margin: 5px 0;
    background: #fafafa;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 1px solid #fafafa;
    outline: none;
    text-align: center;
}
.input1{
    width: 85%;
    padding:5px 10px;
    margin: 5px;
    background: #fafafa;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 1px solid #fafafa;
    outline: none;
    text-align: center;
}
.input2{
    width: 93%;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    padding:5px 10px;
    margin: 5px;
    background: #fafafa;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 1px solid #fafafa;
    outline: none;
    text-align: center;
}
.table2{
    position: absolute;
    bottom: 20px;
    top: 20px;
    right: 20px;
    left: 67%;
    border: 1px solid black;
}
.table3{
    position: absolute;
    bottom: 15%;
    top: 32%;
    right: 35%;
    left: 20px;
    border: 1px solid black;
}
.table5{
    position: absolute;
    bottom: 25%;
    top: 32%;
    right: 35%;
    left: 20px;
    border: 1px solid black;
}
.table6{
    position: absolute;
    top: 35%;
    bottom: 10px;
    right: 10px;
    left: 10px;
    border: 1px solid black;
}
.last{
    position: absolute;
    bottom: 20px;
    top: 88%;
    right: 35%;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last1{
    position: absolute;
    bottom: 20px;
    top: 78%;
    right: 35%;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.last11{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}
.input-group1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;

}
.table{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
}
.styled-table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 8px 10px;
    text-align: center;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: black;
}
.table tbody tr:hover
{
    background-color: black;
    color: white;
}
.table tbody tr{
    cursor: pointer;
    transition: all .25s ease-in-out;
}
.buttons{
    position: absolute;
    left: 0;
    right: 50%;
    display: flex;
    align-items: center;
}
.buttons1{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}
.button{
    margin:0 3px;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
}
.button1{
    margin:0 3px;
    padding: 10px 20px;
    color: white;
    width: 90px;
    border-radius: 4px;
}
.table4{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.styled-table1 {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
}
.styled-table1 thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
}
.styled-table1 th,
.styled-table1 td {
    height: 10px;
    text-align: center;
    padding: 5px 10px;
}
.styled-table1 td {
    background-color: whitesmoke;
}
.searchform1{
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1;
    left: 40px;
    bottom: 7%;
    top: 7%;
    right: 40%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 6px 10px gray;
}
.field{
    position: absolute;
    top: 20px;
    bottom: 70%;
    right: 10px;
    left: 10px;
    margin-right: 5px;
}
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 5px;
    top: 0;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.field1{
    width: 100%;
    height: 50%;
    padding: 3px 0;
    display: flex;
    align-items: center;
}
.field5{
    width: 50%;
    height: 100%;
}
.field6{
    width: 100%;
    height: 100%;
}
.abc1{
    display: none;
}
